<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Aggregator</title>
</head>
<body>
<img src="{{ left.src }}" style="max-width: 47vw; max-height: 98vh; position: absolute; right: 51vw" alt="left picture">
<img src="{{ right.src }}" style="max-width: 47vw; max-height: 98vh; position: absolute; left: 51vw" alt="right picture">

<script>
    window.onkeydown = (e) => {
        if(e.key === "ArrowLeft") {
            document.body.innerHTML = "<div style=\"text-align: center; margin-top: 20vh;\">Loading</div>";
            window.location.replace('/battle/leftWin');
        }
        if(e.key === "ArrowRight") {
            document.body.innerHTML = "<div style=\"text-align: center; margin-top: 20vh;\">Loading</div>";
            window.location.replace('/battle/rightWin');
        }
        if(e.key === " ") {
            document.body.innerHTML = "<div style=\"text-align: center; margin-top: 20vh;\">Loading</div>";
            window.location.replace('/battle/skip')
        }
    };
</script>
</body>
</html>