<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Aggregator</title>
</head>
<body>
<div style="text-align: center">
    {{#images}}
        <div style="margin-top: 2vh; font-size: 9pt; font-style: italic;">
            <span style="vertical-align: top">{{ rating }}</span>
        </div>
        <div>
            <img src="{{ src }}" style="max-width: 98vw; max-height: 70vh" alt="img">
        </div>
    {{/images}}
</div>
</body>
</html>